<section class="px-4 px-md-2 bg-light page-section" id="challenges">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pb-4 assessment-cell" style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 20px; */
">
        <h2 class="mb-4">Get your individual digital twins potential assessment.</h2>
        <p class="subheading pb-4">Answer 6 questions and receive a free initial assessment of potentials that digital twins could introduce into your unique business context.</p>
          <a class="btn btn-dark btn-xl align-self-center mb-3" data-toggle="modal" href="#p_assessment">Take assessment <span class="fa fa-solid fa-list-check pl-2"></span></a>
        <p class="after-info text-center text-muted"><i>You decide how we follow up—whether by email or a face-to-face meeting!</i></p>
      </div>
      <div class="col-md-7 cards-cell">
        <div class="card">
          <div class="icon-wrapper align-self-center">
          <img src="../assets/icons/cloud-computing-icon.svg" class="icon align-self-center" />
        </div>
          <h3>Missing Value from your Data?</h3>
          <p>Let's discuss specific use cases for artificial intelligence and digital twins in your unique business context!</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-hexagon-nodes"></i>
          <h3>Struggling with Tech Complexity?</h3>
          <p class="subtext">​Our vendor-neutral technology assessments show you which tools you actually need!</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-floppy-disk"></i>

          <h3>Lacking Knowledge or Resources?</h3>
          <p>From training to implementation - Together with our strong partner network, we support you throughout your innovation process!</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-shield-halved"></i>
          <h3>Legacy Systems holding you Back?</h3>
          <p>We show you how to sustainably integrate innovation into your existing tool landscape!</p>
        </div>
      </div>
    </div>

  </div>

</section>
<!-- End Services -->