<!-- Challenges -->
<!--<section class="bg-light page-section" id="challenges">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <h4>Are you</h4>
        <br />
        <ul>
          <li>Collecting data from your devices, but missing the resources to leverage their full innovation potential?
          </li><br />
          <li>Confused with the diverse technologies you need to actually get from data to insights?</li><br />
          <li>Stuck with legacy systems that stop you from moving forward with your data?</li><br />
          <li>Looking for a risk-free exploration kit to develop impact-driven decisions?</li><br />
        </ul>
      </div>

      <div class="col-md-6">
        <br /><br /><br />
        <img src="assets\img\challenges.svg" class="img-fluid" style="max-width: 100%;">
      </div>
    </div>
  </div>
</section>-->

<section class="px-4 px-md-2 bg-light page-section" id="challenges">
  <div class="container">
    <div class="row">
      <div class="col-md-5 pb-4 assessment-cell" style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding-bottom: 20px; */
">
        <h2 class="mb-4">Discover your potential for using digital twins</h2>
        <p class="subheading pb-4">Take our quick assessment with questions about your digitalization status to let us help
          you figure out what's next for your business.</p>
          <a class="btn btn-primary align-self-center mb-3" data-toggle="modal" href="#p_assessment">Take assessment <span class="fa fa-solid fa-list-check pl-2"></span></a>
        <p class="after-info text-center text-muted"><i>You decide how we follow up—whether by email or a face-to-face meeting!</i></p>
      </div>
      <div class="col-md-7 cards-cell">
        <div class="card">
          <div class="icon-wrapper align-self-center">
          <img src="../assets/icons/cloud-computing-icon.svg" class="icon align-self-center" />
        </div>
          <h3>Data Collection, but no Innovation?</h3>
          <p>Collecting data from your devices, but missing the resources to leverage their full innovation potential?</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-hexagon-nodes"></i>
          <h3>Struggling with Tech Complexity?</h3>
          <p class="subtext">​Confused with the diverse technologies you need to actually get from data to insights?</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-floppy-disk"></i>

          <h3>Legacy Systems holding you back?</h3>
          <p>​Stuck with legacy systems that stop you from moving forward with your data?</p>
        </div>
        <div class="card">
          <i class="icon align-self-center fa fa-shield-halved"></i>
          <h3>Lacking tools for risk-free innovation?</h3>
          <p>​Looking for a risk-free exploration kit to develop impact-driven decisions?</p>
        </div>
      </div>
    </div>

  </div>

</section>
<!-- End Services -->