<!-- Services -->
<section class="page-section" id="mission">
  <div class="container">
    <div class="row my-auto align-middle">
      <div class="col-md-2 text-left"></div>
      <div class="col-md-3 col-sm-6 text-left">
       <img src="assets\img\stockimages\lock.jpg" class="img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-3 col-sm-6 align-middle">
        <b>Unlock the power of digital twins to guarantee <span class="text-primary">impact-driven</span> decision-making in your <span class="text-primary">IoT systems</span>
        </b>
      </div>
      <div class="col-md-2 text-left"></div>
    </div>

    <div class="row">
      <div class="col-md-2 text-left"></div>
      <div class="col-md-4 text-right">
        <b>Use <span class="text-primary">cutting-edge technologies</span>, tailored to your <span class="text-primary">individual business needs</span></b>
      </div>
      <div class="col-md-4 text-left">
        <img src="assets\img\stockimages\chess.jpg" class="img-fluid" style="max-width: 100%;">
       </div>
      <div class="col-md-2 text-left"></div>
    </div>

    <div class="row">
      <div class="col-md-2 text-left"></div>
      <div class="col-md-4 text-left">
       <img src="assets\img\stockimages\flexibility.jpg" class="img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-4 text-right">
        <b>Build <span class="text-primary">future-proof software architectures</span> that ensure <span class="text-primary">long-term flexibility</span>
        </b>
      </div>
      <div class="col-md-2 text-left"></div>
    </div>
  </div>

</section>
<!-- End Services -->