<!-- Services -->
<section class="page-section px-4 px-md-2" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bist du...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center">
        <img alt="TwinTech Overview" src="..\assets/img/ai_generated/managers_dilemma.png" class="img-fluid"
          style="max-width: 100%; border-radius: 10px;" />
        <br />
        <h3>Innovationsverantwortliche:r?</h3><br />
        <h4 class="text-left">Und suchst nach</h4>
        <p class="text-left"><b><img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" />Einem Überblick über die
            wirtschaftlichen Potenziale von Innovationen, um am Markt bestehen zu können?</b></p>
        <p class="text-left"><b><img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" />Ausreichendem Verständnis
            aktueller
            Technologien für fundierte Entscheidungsfindung?</b>
        </p>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-center">
        <img alt="TwinTech Overview" src="..\assets/img/stockimages/ai_llm_resized.png" class="img-fluid"
          style="max-width: 100%; border-radius: 10px;" />
        <h3>Software Entwickler:in?</h3><br />
        <h4 class="text-left">Und willst</h4>
        <p class="text-left"><b><img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" />Die
            die richtigen Skills
            aneigenen, um auch in 5 Jahren noch relevant zu sein?</b></p>

        <p class="text-left"><b><img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" />
            die Technologien und Best Practices kennenlernen, um Innovation un Digitalisierung in deinem Unternehmen auf
            den
            aktuellen Stand der Technik zu bringen?</b></p>
      </div>


    </div>

    <div class="row">
      <div class="col-md-4">
        <img alt="TwinTech Overview" src="..\assets/img/eigene/pfeil_nach_rechts.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img alt="TwinTech Overview" src="..\assets/img/eigene/pfeil_nach_links.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 align-middle text-center">
        <h2>Bei uns bist du richtig!</h2><br />
        <img alt="TwinTech Overview" src="..\assets\img\twintech_overview.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
    </div>


  </div>



</section>
<!-- End Services -->