<!-- Services -->
<section class="page-section px-4 px-md-2" id="mission">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bist du...</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 text-center">
        <img alt="TwinTech Overview" src="..\assets/img/ai_generated/managers_dilemma.png" class="img-fluid"
          style="max-width: 100%; border-radius: 10px;" />
        <h3>Manager:in?</h3>
        <h4 class="text-left">Auf der Suche nach der Entscheidungsgrundlage, deinen Unternehmensstandort auch für die
          nächsten Jahre
          abzusichern?</h4>
        Einem Weg aus dem ...
        Einer Lösung, unabhängig von internationalen Spannungen zu werden?
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5 text-center">
        <img alt="TwinTech Overview" src="..\assets/img/stockimages/ai_llm_resized.png" class="img-fluid"
          style="max-width: 100%; border-radius: 10px;" />
        <h3>Software Entwickler:in?</h3>
        <p>Auf der Suche nach den Skills, um in 5 Jahren noch relevant zu sein?</p>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        <img alt="TwinTech Overview" src="..\assets/img/eigene/pfeil_nach_rechts.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <img alt="TwinTech Overview" src="..\assets/img/eigene/pfeil_nach_links.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
    </div>


    <div class="row">
      <div class="col-md-12 align-middle text-center">
        <h2>Bei uns bist du richtig!</h2><br />
        <img alt="TwinTech Overview" src="..\assets\img\twintech_overview.png" class="img-fluid"
          style="max-width: 100%;" />
      </div>
    </div>


  </div>



</section>
<!-- End Services -->