<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      {%- if site.logo -%}
      <img height="{{ site.logo.height | default: 52 }}" src="{{ site.url }}/{{ site.logo.path }}" />
      {%- else -%}
      {{ site.title }}
      {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {% for navitem in site.data.navigation[site.locale] %}
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#{{ navitem[0] }}">{{ navitem[1] }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <!--<img class="intro-lead-in" src="{{ site.logo.path }}" alt="Twin Tech" width="100%"/>-->
      {%- if site.data.sitetext[site.locale].header.text -%}
      <div class="intro-lead-in">{{ site.data.sitetext[site.locale].header.text | markdownify }}      </div>

      {%- endif -%}
      <div class="row">
        <div class="col col-12 col-md-7 g-1 d-flex">
          <a class="btn btn-primary text-uppercase js-scroll-trigger d-flex g-1" href="#portfolio">Our Services <div class="arrow-container">
            <div class="arrow">⌞</div>
            <div class="arrow">⌞</div>
            <div class="arrow">⌞</div>
        </div></a>
          <a class="btn btn-primary-rev text-uppercase js-scroll-trigger d-flex g-1" href="#challenges">Self-assessment <div class="arrow-container">
            <div class="arrow">⌞</div>
            <div class="arrow">⌞</div>
            <div class="arrow">⌞</div>
        </div></a></div>
              <div class="col col-12 col-md-5 d-flex justify-content-center">
  
          <a class="btn btn-contactus text-uppercase js-scroll-trigger" href="#contact">Contact Us <span
              class="fa fa-solid fa-envelope pl-2"></span></a></div>
    </div>
   
      <!--{%- if site.data.sitetext[site.locale].header.button -%}
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{{ site.data.sitetext[site.locale].header.buttonlink }}">{{ site.data.sitetext[site.locale].header.button }}</a>
	  {%- endif -%}-->

    </div>
  </div>
</header>
<!-- End Header -->