<!-- Portfolio Grid -->
<section class="px-4 px-md-2 bg-light page-section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Unser Angebot für Innovationsverantwortliche</h2>
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Wir ermitteln, welche
              Investitionen dir <span class="text-success">tatsächlich wirtschaftlichen Mehrwert</span> bringen.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left" href="/potenzialanalyse"
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Details zu unserer 360° Potenzial-Analyse</a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Wir zeigen wir, wie du
              <span class="text-success">die richtigen Technologien</span> strategisch
              wertvoll in dein Unternehmen integrierst.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left" href="/trainings_management.pdf"
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Katalog unserer Management-Workshops</a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Wir machen die
              Mehrwerte
              der Digitalisierung <span class="text-success"> für dich greifbar</span>.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left"
              href="mailto:office@twin-tech.at?body=Liebes%20TwinTech-Team%2C%0D%0A%0D%0Aich%20interessiere%20mich%20f%C3%BCr%20einen%20Proof-of-Concept%20zu%20folgendem%20Thema%3A%20BITTE%20ERG%C3%84NZEN.%0D%0ABitte%20um%20Info%2C%20ob%20ihr%20das%20abdecken%20k%C3%B6nnt%2C%20bzw.%20in%20welchem%20Kosten-Bereich%20wir%20uns%20hier%20bewegen."
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Anfrage für individuellen Proof-of-Concept</a>
          </div>
        </div>
      </div>
      <!-- ---------------------------------------------------------------------- -->
      <div class="col-md-2"></div>
      <!-- ---------------------------------------------------------------------- -->
      <div class="col-md-5">
        <h2>Unser Angebot für Software Entwickler:innen</h2>
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Wir zeigen dir, wie
              du deine Daten endlich <span class="text-success">bereit für die
                Digitalisierung</span> machst.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left" href="/trainings_zwillinge.pdf"
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Zu unseren Hands-On Digital Twin Schulungen</a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Wir vermitteln dir die
              Skills, mit denen du
              AI schon heute sinnvoll einsetzt.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left" href="/trainings_ai.pdf"
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Zu unseren Hands-On AI Schulungen</a>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-6">
            <img src=" /workshops/az.png"
              style="width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;" /><b>Unsere Expert:innen
              sind gerne <span class="text-success">dein Sparing Partner</span> für alle Themen rund um <span
                class="text-success">KI und digitale
                Zwillinge</span>.</b>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <a class="btn align-self-center d-flex align-items-center text-left"
              href="mailto:office@twin-tech.at?body=Liebes%20TwinTech-Team%2C%0D%0A%0D%0Aich%20interessiere%20mich%20f%C3%BCr%201%3A1%20Coaching%20im%20Umfang%20von%20ca.%20BITTE%20ERG%C3%84NZEN%20Stunden.%0D%0AKonkret%20geht%20es%20dabei%20f%C3%BCr%20mich%20um%20folgende%20Themen%3A%0D%0A-%20BITTE%20ERG%C3%84NZEN%0D%0A-%20BITTE%20ERG%C3%84NZEN%0D%0A%0D%0AK%C3%B6nnt%20ihr%20mir%20bitte%20n%C3%A4here%20Details%20zusenden%2C%20bzw.%20k%C3%B6nnen%20wir%20uns%20einmal%20pers%C3%B6nlich%20zu%20meiner%20Anfrage%20austauschen%3F%0D%0A%0D%0ALiebe%20Gr%C3%BC%C3%9Fe%2C"
              style="background:#28a745!important;max-width: 100%;color:white;text-align:left;"><i
                class="fa fa-solid fa-arrow-right pr-3"></i>Anfrage für individuelles 1:1 Coaching</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include modals.html %}