
.divider-text-box {
	position:relative;
    text-align:center;
}

.divider-text-box > p:before {
    position: absolute;
    bottom: 15px;
    content: ' ';
    text-align: center;
    display: block;
    height: 2px;
    width: 100%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(182,180,180,0.7) 42%, rgba(180,178,178,0) 43%, rgba(168,166,166,0) 50%, rgba(180,178,178,0) 57%, rgba(182,180,180,0.7) 58%, rgba(238,237,237,0.3) 90%, rgba(255,255,255,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(42%,rgba(182,180,180,0.7)), color-stop(43%,rgba(180,178,178,0)), color-stop(50%,rgba(168,166,166,0)), color-stop(57%,rgba(180,178,178,0)), color-stop(58%,rgba(182,180,180,0.7)), color-stop(90%,rgba(238,237,237,0.3)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(182,180,180,0.7) 42%,rgba(180,178,178,0) 43%,rgba(168,166,166,0) 50%,rgba(180,178,178,0) 57%,rgba(182,180,180,0.7) 58%,rgba(238,237,237,0.3) 90%,rgba(255,255,255,0) 100%);
}

.divider-text-box > p:after {
    font-size: 25px;
    color: #D6CFCB;
    text-align: center;
    display: block;
    width: 100%;
    /* font-family: 'Alice', Verdana, serif; */
    text-shadow: 0px 1px 0px #fff;
    font-family: 'Font Awesome 5 Free';
}

#consult-me-form {
    .form-group label.required:after {
        content:"*";
        color: #d00;
    }
}

.contact-option  {
    .divider-text-box > p:after {
    content: '\f0e0';
    }
   }
   

   .booking-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .divider-text-box > p:after {
        content: '\f007';
       }
    .divider-text-box > p:before {
        bottom: 30px !important;
    }
   }

.option-divider {
    text-align: center;
    margin: 1.5rem 0;
   }

.next-action-container, .submission-message {
    display:none;
    margin: 1rem 0;
}

input[type='checkbox'] {
    width: 10px;
}

.sd-item__svg.sd-checkbox__svg{
    width: 0px;
}
.sv-string-viewer{
    padding-left:10px;
}

.sd-item{
    margin-top:0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom:0px;
}

.assessment-modal .container {
    padding: 1.6rem 3rem;
}

#assessment_offer {
    
    .row {
    text-align: center;
    max-width: 900px;
    padding: 0 3rem;
    }
    
    .container {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
}


#surveyContainer .sd-action-bar {
    padding: 0 !important;
}

.sd-title.sd-element__title {
    text-align:left;
    font-size:20pt;
}


